<div class="container">
    <div class="row">
       <div class="col-12">
        <nav class="navbar">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img class="logo" src="assets/img/alelo-logo.png">
              </a>
            </div>
          </nav>
       </div>
    </div>
    <div class="row">
         <div class="col-12 titulo">
            Alelo Frota
         </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" routerLink="/dashboard"class="btn btn-light btn-sm">DashBoard</button>
         </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" routerLink="/consultar" class="btn btn-light btn-sm">Vehicle</button>
         </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" routerLink="/reports" class="btn btn-light btn-sm">Reports</button>
         </div>
    </div>
</div>
