<div class="container">
    <div class="row">
            <div class="col-12 img-logo">            
                <img src="assets/img/alelo-logo.png">          
            </div>
    </div>
    <br>
    <div class="row">
         <div class="col-12 titulo">
            Alelo Frota
         </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 btnMenu">
            <button type="button" routerLink="/dashboard"class="btn btn-light">DashBoard</button>
         </div>
    </div>
    <div class="row">
        <div class="col-12 btnMenu">
            <button type="button" routerLink="/consultar" class="btn btn-light">Vehicle</button>
         </div>
    </div>
    <div class="row">
        <div class="col-12 btnMenu">
            <button type="button" routerLink="/reports" class="btn btn-light">Reports</button>
         </div>
    </div>
</div>
