
.conteudo{
    height: 93vh;
    border:1px outset;
    background-color: #DDDDDD;
    border-radius: 15px;
    background-attachment: initial;
    background-position: center;
 }

.corpo{
    width: 98%;
}

.col{
    border: solid 1px;
}


