.text-titulo{
    font-size: 24px;
    margin-top: 10px;
}

.text-apresentacao{
    font-size: 18px;
}

.icon-actions {
    width: 20%; height: auto;
    margin: 4px;
}


.pesquisa-lupa {
    width: 5%; height: auto;
    margin: 4px;
}

.lblPlate{
    padding-right: 3px;
}

.plus-vehicle{
    width: 50% !important; 
    height: auto !important;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    color: #EDEDED !important;
    background-color: #555550;
}

ngb-pagination ::ng-deep ul > li.active > a {
    color: #555550 !important;
    background-color: #EDEDED;
}

.icon-status{
    width: 12%; height: auto;
    margin-right: 4px;
    
}










