.text-apresentacao{
    font-size: 9px;
}

svg{
    width: 8%; height: auto;
    margin: 4px;
}

.lblPlate{
    padding-right: 3px;
}

.plus-vehicle{
    width: 50% !important; 
    height: auto !important;
}

.uppercase{
    text-transform: uppercase;
}